<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/customdash.css">


</head>

<body>
    <nav class="navbar navbar-dark bg-dark custom">
        <a class="navbar-brand" href="#">CRUD MONGOOSE BY ILHAM</a>
    </nav>

    <div class="container mt-5 d-flex justify-content-center">
        <a type="button" class="btn btn-dark" href="/login">
            Go To Login
        </a>

    </div>

    <script src="js/bootstrap.min.js"></script>

</body>

</html>