@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.custom {
    font-family: 'Oswald', sans-serif;
}

.display-center{
    display:grid;
    justify-content: center;
}