<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom">
    <a class="navbar-brand" href="/user/biodata">CRUD MONGOOSE BY ILHAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav float-left">
      </ul>
    </div>
    <ul class="navbar-nav float-right">
  
      <h3></h3>
      <li class="nav-item">
        <!-- <form action="/logout" method="POST"> -->
          
            <a href="/logout" class="btn btn-primary">Logout</a>
        </form>
    </li>
    </ul>
  </nav>